<!DOCTYPE html>
<!-- 
GithubGist, yoshiiz/play_audio_cont_loop.html, https://gist.github.com/yoshiiz/6134482f8fd72063e7221b7b82d27e67
-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>連続再生ループ</title>
    </head>
    <body>
        <!--
        <audio id='audio'></audio>
        <script type="text/javascript">
            'use strict'; //厳格モード より的確なエラーチェックが行われるため、これまでエラーにならなかったような曖昧な実装がエラー扱いになります
            //ANALOGIC（アナロジック）｜Web System Development Office, 
            //“use strict”（厳格モード）を使うべきか？, https://analogic.jp/use-strict/

            var playlist = [
            './music/Vocals_monaural1_6.wav',
            './music/Vocals_monaural4_12.wav',
            ]

            var audio = document.createElement('audio');
            document.body.appendChild(audio);
            audio.style.width = '100%';
            audio.style.height = 'auto';
            audio.controls = true;
            audio.volume = 0.2;

            audio.src = playlist[0];
            audio.play();

            var index = 0;
            audio.addEventListener('ended', function(){
            index++;
            if (index < playlist.length) {
                audio.src = playlist[index];
                audio.play();
            }
            else {
                audio.src = playlist[0];
                audio.play();
                index = 0;
            }
            });
        </script>
        -->

        <!--Japanシーモア, JavaScriptで音を鳴らす！5つの使い方と実用例を徹底解説
        https://jp-seemore.com/web/3576/#toc6-->
        <button id="playButton">音を鳴らす</button>
        <p>結果は{{result}}です</p>
        <script>
            const audio = new Audio('music/Vocals_monaural1_6.wav');
            document.getElementById('playButton').addEventListener('click', () => {

                //音声を再生する
                audio.play();
                
                //音声の再生が終了したことを検出する
                audio.addEventListener('ended', () => {
                    console.log('音声ファイルの再生が終了しました');
                    audio.play();
                });
             
            });
        </script>
    </body>
</html>