<!--note, PythonのFlaskでCSSやJSを使う, Pythonista3でも可能, 
https://note.com/junyaaa/n/ncbec90fe8cad, 2024年2月15日-->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>This is Index Page</title>
		<!--変更---------------->
              <link rel="stylesheet" href="./static/css/style.css" />
		<!--------------------->
	</head>
	
	<body>
	
		<h1>index.html</h1>
	
		<!--変更------------>
		<script type="text/javascript" src="./static/js/main.js" ></script>
        <script type="text/javascript" src="./static/js/one_speech_recognition.js" ></script>
		<!----------------->
	</body>
	
</html>