<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>地図表示ページ</title>
		
	</head>
	<body onload="init()">
		<div id="mapcontainer" style="width:600px;height:600px"></div>

		<h1>現在位置</h1>
		<!--action="{{ url_for('map_spot_show') }}"-->
		<form id="my_position_form"  method="POST">
			緯度<input name="my_latitude" id="my_latitude" value=0></input>
			経度<input name="my_longitude" id="my_longitude" value=0></input>
			<button type="submit">送信</button>
		</form>

		<!--指定したURLに行けるボタン-->
		<form action="/loop_speech_recognition" method="get">
			<input type="submit" value='音声ページへ行く!'>
		</form>

		<button onclick="test()">test</button>

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"></script>
		<script>
			var my_latitude = 0
			var my_longitude = 0

			//navigator.geolocation.getCurrentPosition(test2);

			/*
			function init() {


				//地図を表示するdiv要素のidを設定
				var map = L.map('mapcontainer');
				alert(my_latitude)
				//地図の中心とズームレベルを指定
				map.setView([35.40, 136], 100);

				//map.setView([my_latitude, my_longitude], 100);

				//表示するタイルレイヤのURLとAttributionコントロールの記述を設定して、地図に追加する
				L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
					attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
				}).addTo(map);

			}
			*/
			

			/*
			function test() {
				navigator.geolocation.getCurrentPosition(test2);
			}
			*/
			navigator.geolocation.getCurrentPosition(test2);
			
			window.addEventListener('DOMContentLoaded', function(){				

				// 3秒ごとに実行
				setInterval(() => {
					//alert("現在位置取得")
					post_my_position()
					
				}, 5000);

			});

			function test2(position) {

				my_latitude = position.coords.latitude
				my_longitude = position.coords.longitude

				//地図を表示するdiv要素のidを設定
				var map = L.map('mapcontainer');
				//alert(my_latitude)
				//地図の中心とズームレベルを指定
				//map.setView([35.40, 136], 100);
				map.setView([my_latitude, my_longitude], 100);

				//map.setView([my_latitude, my_longitude], 100);

				//表示するタイルレイヤのURLとAttributionコントロールの記述を設定して、地図に追加する
				L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
					attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
				}).addTo(map);		
			}

			
			function post_my_position(){
				document.getElementById('my_latitude').value = my_latitude;
				document.getElementById('my_longitude').value = my_longitude;
	


				my_position_form = document.getElementById('my_position_form')

				my_position_form.submit()

			}

		</script>
	</body>
</html>