{% extends "base.html" %}

{% block content %}
    <h1>隠れスポット登録</h1>
    <form method="post" novalidate>
        {{form.hidden_tag()}}
        <p>
            {{form.spot_name.label}}<br>
            {{form.spot_name(size=256)}}<br>
            {% for error in form.spot_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.longnitude.label}}<br>
            {{form.longnitude(size=256)}}<br>
            {% for error in form.longnitude.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.latitude.label}}<br>
            {{form.latitude(size=256)}}<br>
            {% for error in form.latitude.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.spot_place}}
        </p>
        <p>
            {{form.spot_type}}
        </p>
        <p>
            {{form.spot_overview.label}}<br>
            {{form.spot_overview(size=100)}}<br>
            {% for error in form.spot_overview.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.spot_detail.label}}<br>
            {{form.spot_detail(size=100)}}<br>
            {% for error in form.spot_detail.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {{form.submit()}}
    </form>
{% endblock %}